.glhf-single-product .woocommerce-product-gallery .woocommerce-product-gallery__image {
  display: none; }
  .glhf-single-product .woocommerce-product-gallery .woocommerce-product-gallery__image:first-child {
    display: block; }
.glhf-single-product .woocommerce-product-gallery a {
  pointer-events: none; }
.glhf-single-product .product_title {
  margin: 1em 0 0;
  line-height: 1; }
.glhf-single-product div.product div.images {
  width: 100%; }
.glhf-single-product .label, .glhf-single-product .product_meta, .glhf-single-product .woocommerce-product-details__short-description, .glhf-single-product .woocommerce-Tabs-panel--additional_information, .glhf-single-product .wc-tabs-wrapper {
  display: none !important;
  visibility: hidden; }
.glhf-single-product button,
.glhf-single-product input[type=button],
.glhf-single-product input[type=submit] {
  width: 75%; }
.glhf-single-product .single_variation_wrap {
  margin-top: 5px; }
.glhf-single-product .quantity {
  display: inline-block;
  float: left;
  width: 22%;
  margin-right: 3%; }
.glhf-single-product .woocommerce-variation-add-to-cart {
  position: relative; }
.glhf-single-product .added_to_cart {
  width: 100%;
  padding: .5em 1em;
  border: 1px solid #0a60b7;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  text-transform: capitalize; }
  .glhf-single-product .added_to_cart:hover {
    background-color: #0a60b7;
    border: 1px solid #07427d;
    color: #fff;
    text-decoration: none; }
  .glhf-single-product .added_to_cart:before {
    content: 'Successfully added to cart.';
    pointer-events: none;
    position: absolute;
    top: 44px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #333; }

button, input[type=button], input[type=submit] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0; }

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  font-size: 1.25em;
  color: #1181f2;
  font-weight: bold; }

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
  text-align: left; }
  .woocommerce .cart-collaterals .cart_totals .shipping td, .woocommerce-page .cart-collaterals .cart_totals .shipping td {
    padding-right: 1em; }

.swatch-wrapper {
  width: 45px;
  width: calc(100%/6);
  margin: 0;
  padding: 1px;
  display: inline-block;
  border: 0;
  position: relative; }
  .swatch-wrapper.selected {
    border: 0 !important;
    padding: 1px !important; }
  .swatch-wrapper.selected a:after {
    content: '\f00c';
    font-family: FontAwesome;
    text-indent: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }

.swatch-control.radio-select ul[data-attribute_name="attribute_style"] li {
  width: auto; }

.swatch-control.radio-select ul[data-attribute_name="attribute_style"] li label {
  padding: 4px 10px; }

.swatch-control.radio-select div[data-attribute="attribute_design"] a {
  overflow: hidden; }
  .swatch-control.radio-select div[data-attribute="attribute_design"] a img {
    width: 100%; }

#picker_hat-color .swatch-wrapper {
  width: 50%; }

#picker_embroidery-color .swatch-wrapper {
  width: 25%; }

.swatch-anchor {
  outline: 0 !important;
  display: block;
  width: 100% !important; }
  .swatch-anchor[title=White], .swatch-anchor[title=white] {
    border: 1px solid #ccc; }
    .swatch-anchor[title=White]:after, .swatch-anchor[title=white]:after {
      color: #333 !important; }

.glhf-single-product .swatch-anchor {
  height: 25px !important; }

button,
input[type=button],
input[type=submit] {
  width: 89%;
  display: inline-block;
  background-color: #0a60b7;
  border-radius: 0 !important; }
  button:focus,
  input[type=button]:focus,
  input[type=submit]:focus {
    background-color: #0a60b7; }

.quantity input, input[type="number"] {
  width: 100%;
  border-radius: 0;
  padding: 5px !important; }

.woocommerce div.product form.cart .variations {
  margin-bottom: .5em; }

.variations {
  position: relative;
  width: 100%; }

.reset_variations {
  display: none !important;
  visibility: hidden !important; }

.swatch-control.radio-select {
  margin-top: 5px; }
  .swatch-control.radio-select li {
    width: 45px;
    width: calc(100%/6);
    position: relative;
    display: inline-block; }

.swatch-control.radio-select input {
  position: absolute;
  left: 0;
  z-index: -1; }

.swatch-control.radio-select input + label {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 3px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #fff;
  text-align: center;
  transition: 300ms ease background-color; }

.swatch-control.radio-select li:last-child input + label {
  border: 1px solid #333; }

.swatch-control.radio-select input + label:hover {
  cursor: pointer;
  background-color: #d3d3d3; }

.swatch-control.radio-select input:checked + label {
  background-color: #333;
  color: #fff; }

.fl-node-591f960981be9.fl-module-heading .fl-heading {
  font-size: 15vw;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .fl-node-591f960981be9.fl-module-heading .fl-heading .firstline {
    display: block;
    font-size: 50%;
    letter-spacing: 7px; }

.about_paypal {
  margin-left: 1em; }

@media screen and (min-width: 768px) {
  .fl-node-591f960981be9.fl-module-heading .fl-heading {
    font-size: 10vw; } }
.fl-page-header {
  transition: 300ms ease background-color; }

.home .fl-page-header {
  background-color: rgba(10, 96, 183, 0); }

.fl-page-nav .navbar-nav li > a {
  letter-spacing: 2px; }

.fl-page-nav .navbar-nav li li > a {
  text-transform: initial; }

@media screen and (min-width: 768px) {
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 40px; } }
@media screen and (max-width: 991px) {
  .home .fl-page-header {
    background-color: #0a60b7 !important;
    z-index: 999 !important;
    position: relative; }

  .fl-page-nav-wrap {
    border: none !important; } }
.admin-bar .cart-info {
  top: calc(32px + 1.75em); }

.cart-info {
  position: fixed;
  top: 1.75em;
  right: .75em;
  z-index: 999999; }
  .cart-info .cart-contents {
    color: white;
    padding: 1em;
    transition: 300ms ease background-color; }
    .cart-info .cart-contents:hover, .cart-info .cart-contents:focus {
      text-decoration: none;
      background-color: #0d4782; }

/*# sourceMappingURL=style.css.map */
