.glhf-single-product .woocommerce-product-gallery .woocommerce-product-gallery__image {
  display: none; }
  .glhf-single-product .woocommerce-product-gallery .woocommerce-product-gallery__image:first-child {
    display: block; }
.glhf-single-product .product_title {
  margin: 1em 0 0;
  line-height: 1; }
.glhf-single-product div.product div.images {
  width: 100%; }
.glhf-single-product .label, .glhf-single-product .product_meta, .glhf-single-product .woocommerce-product-details__short-description, .glhf-single-product .woocommerce-Tabs-panel--additional_information, .glhf-single-product .wc-tabs-wrapper {
  display: none !important;
  visibility: hidden; }
.glhf-single-product .radio-select {
  margin-top: 5px; }
  .glhf-single-product .radio-select li {
    width: 45px;
    width: calc(100%/6);
    position: relative;
    display: inline-block; }
.glhf-single-product .radio-select input {
  position: absolute;
  left: 0;
  z-index: -1; }
.glhf-single-product .radio-select input + label {
  display: inline-block;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 3px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #fff;
  text-align: center;
  transition: 300ms ease background-color; }
.glhf-single-product .radio-select li:last-child input + label {
  border: 1px solid #333; }
.glhf-single-product .radio-select input + label:hover {
  cursor: pointer;
  background-color: #d3d3d3; }
.glhf-single-product .radio-select input:checked + label {
  background-color: #333;
  color: #fff; }
.glhf-single-product .single_variation_wrap {
  margin-top: 5px; }
.glhf-single-product .quantity {
  display: inline-block;
  float: left;
  width: 22%;
  margin-right: 3%; }
.glhf-single-product .quantity input {
  width: 100%;
  border-radius: 0;
  padding: 5px !important; }
.glhf-single-product .variations {
  position: relative;
  width: 100%; }
.glhf-single-product .reset_variations {
  display: none !important;
  visibility: hidden !important; }
.glhf-single-product button,
.glhf-single-product input[type=button],
.glhf-single-product input[type=submit] {
  width: 75%;
  display: inline-block;
  background-color: #0a60b7; }
  .glhf-single-product button:focus,
  .glhf-single-product input[type=button]:focus,
  .glhf-single-product input[type=submit]:focus {
    background-color: #0a60b7; }
.glhf-single-product .woocommerce-variation-add-to-cart {
  position: relative; }
.glhf-single-product .added_to_cart {
  width: 100%;
  padding: .5em 1em;
  border: 1px solid #0a60b7;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  text-transform: capitalize; }
  .glhf-single-product .added_to_cart:hover {
    background-color: #0a60b7;
    border: 1px solid #07427d;
    color: #fff;
    text-decoration: none; }
  .glhf-single-product .added_to_cart:before {
    content: 'Successfully added to cart.';
    pointer-events: none;
    position: absolute;
    top: 44px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #333; }

button, input[type=button], input[type=submit] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0; }

.swatch-wrapper {
  width: 45px;
  width: calc(100%/6);
  margin: 0;
  padding: 1px;
  display: inline-block;
  border: 0;
  position: relative; }
  .swatch-wrapper.selected {
    border: 0 !important;
    padding: 1px !important; }
  .swatch-wrapper.selected a:after {
    content: '\f00c';
    font-family: FontAwesome;
    text-indent: 0;
    display: block;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-7px);
    color: #fff; }

.swatch-anchor {
  outline: 0 !important;
  display: block;
  width: 100% !important;
  height: 25px !important; }
  .swatch-anchor[title=White], .swatch-anchor[title=white] {
    border: 1px solid #ccc; }
    .swatch-anchor[title=White]:after, .swatch-anchor[title=white]:after {
      color: #333 !important; }

.fl-node-591f960981be9.fl-module-heading .fl-heading {
  font-size: 15vw;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .fl-node-591f960981be9.fl-module-heading .fl-heading .firstline {
    display: block;
    font-size: 50%;
    letter-spacing: 7px; }

@media screen and (min-width: 768px) {
  .fl-node-591f960981be9.fl-module-heading .fl-heading {
    font-size: 10vw; } }
.fl-page-header {
  transition: 300ms ease background-color; }

.home .fl-page-header {
  background-color: rgba(10, 96, 183, 0); }

.fl-page-nav .navbar-nav li > a {
  letter-spacing: 2px; }

.fl-page-nav .navbar-nav li li > a {
  text-transform: initial; }

@media screen and (min-width: 768px) {
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 40px; } }
@media screen and (max-width: 991px) {
  .home .fl-page-header {
    background-color: #0a60b7 !important;
    z-index: 999 !important;
    position: relative; }

  .fl-page-nav-wrap {
    border: none !important; } }

/*# sourceMappingURL=style.css.map */
