.glhf-single-product {

    // Remove Product Gallery Inside Single Product Widget
    .woocommerce-product-gallery .woocommerce-product-gallery__image {
        display: none;

        &:first-child {
            display: block;
        }
    }

    .product_title {
        margin: 1em 0 0;
        line-height: 1;
    }

    div.product div.images {
        width: 100%;
    }

    .label, .product_meta, .woocommerce-product-details__short-description, .woocommerce-Tabs-panel--additional_information, .wc-tabs-wrapper {
      display: none !important;
      visibility: hidden;
    }



    .single_variation_wrap {
        margin-top: 5px;
    }

    .quantity {
        display: inline-block;
        float: left;
        width: 22%;
        margin-right: 3%;
    }

    .quantity input {
        width: 100%;
        border-radius: 0;
        padding: 5px !important;
    }

    button,
    input[type=button],
    input[type=submit] {
        width: 75%;
        display: inline-block;
        background-color: #0a60b7;
        border-radius: 0;
        &:focus {
          background-color: #0a60b7;
        }
    }

    .woocommerce-variation-add-to-cart {
      position: relative;
    }

    .added_to_cart {
      width: 100%;
      padding: .5em 1em;
      border: 1px solid #0a60b7;
      display: inline-block;
      margin-top: 40px;
      text-align: center;
      text-transform: capitalize;
      &:hover {
        background-color: #0a60b7;
        border: 1px solid #07427d;
        color: #fff;
        text-decoration: none;
      }
      &:before {
        content: 'Successfully added to cart.';
        pointer-events: none;
        position: absolute;
        top: 44px;
        width: 100%;
        left: 0;
        text-align: center;
        color: #333;
      }
    }
}

button, input[type=button], input[type=submit] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0;
}

//Colors Swatches
.swatch-wrapper {
  width: 45px;
  width: calc(100%/6);
  margin: 0;
  padding: 1px;
  display: inline-block;
  border: 0;
  position: relative;
  &.selected {
    border: 0 !important;
    padding: 1px !important;
  }
  &.selected a:after {
    content: '\f00c';
    font-family: FontAwesome;
    text-indent: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

.swatch-anchor {
  outline: 0 !important;
  display: block;
  width: 100% !important;

  &[title=White], &[title=white] {
    border: 1px solid #ccc;
    &:after {
      color: #333 !important;
    }
  }
}

.glhf-single-product .swatch-anchor {
    height: 25px !important;
}

// Shirt Size Selectors
.variations {
    position: relative;
    width: 100%;
}

.reset_variations {
  display: none !important;
  visibility: hidden !important;
}

.swatch-control.radio-select {
  margin-top: 5px;
  li {
    width: 45px;
    width: calc(100%/6);
    position: relative;
    display: inline-block;
  }
}

.swatch-control.radio-select input {
    position: absolute;
    left: 0;
    z-index: -1;
}

.swatch-control.radio-select input + label {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 3px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #fff;
  text-align: center;
  transition: 300ms ease background-color;
}

.swatch-control.radio-select li:last-child input + label {
  border: 1px solid #333;
}

.swatch-control.radio-select input + label:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.swatch-control.radio-select input:checked + label {
  background-color: #333;
  color: #fff;
}

// Styles for Hero Text Feature
.fl-node-591f960981be9.fl-module-heading .fl-heading {
    font-size: 15vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    .firstline {
        display: block;
        font-size: 50%;
        letter-spacing: 7px;
    }

}

@media screen and (min-width: 768px) {
    .fl-node-591f960981be9.fl-module-heading .fl-heading {
        font-size: 10vw;
    }
}

.fl-page-header {
    transition: 300ms ease background-color;
    // background-color: rgb(10, 96, 183);
}

.home .fl-page-header {
    background-color: rgba(10, 96, 183, 0);
}

.fl-page-nav .navbar-nav li > a {
    // text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 2px;
}

.fl-page-nav .navbar-nav li li > a {
    text-transform: initial;
}

@media screen and (min-width: 768px) {
    .fl-page-nav .navbar-nav li > a {
        padding: 15px 40px;
    }
}

@media screen and (max-width: 991px) {
    .home .fl-page-header {
        background-color: rgba(10, 96, 183, 1) !important;
        z-index: 999 !important;
        position: relative;
    }

    .fl-page-nav-wrap {
        border: none !important;
    }
}
